body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .error-container {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .error-container h1 {
    font-size: 4rem;
    color: #dc3545;
  }

  .error-container p {
    font-size: 1.2rem;
    color: #6c757d;
  }

  .error-container a {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .error-container a:hover {
      background-color: #0056b3;
  }
.error-container h1.m{
    font-size: 4rem;
    color: #7cd97c;
}

