
{{#category}}
    <div class="col-md-4 mb-4 categories">
        <div class="activity d-flex flex-row align-items-center" name="tag" id="{{id}}">
            <div class="categories-container info admin-category-container">
                <span class="event-category admin-category" style="background-color:{{color}}" name="tag-name">{{name}}</span>
            </div>
            <button class="btn btn-block" id="open-button">Ver Detalles</button>
        </div>
    </div>
{{/category}}
{{#lastCategories}}
    <div class="no-events-message" style="display: none"></div>
{{/lastCategories}}