
{{#category}}
    <div class="col-md-4 mb-4 categories">
        <div class="actividad d-flex flex-row align-items-center" name="tag">
            <div class="etiquetas-container info etiqueta-admin-container">
                <span class="etiqueta-evento etiqueta-admin" style="background-color:{{color}}" name="tag-name">{{name}}</span>
            </div>
            <a href="#" class="btn btn-block" id="open-button">Ver Detalles</a>
        </div>
    </div>
{{/category}}
<script src="../js/perfil.js"></script>