<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel='stylesheet' type='text/css' media='screen' href='static/css/forms.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='static/css/change_password.css'>
  <link rel="icon" href="/img/logo.jpeg" type="image/png">
  <title>Cambiar Contraseña</title>
</head>
<body> 

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center">
          <img src="/img/logo.jpeg" alt="Logo" class="img-fluid small-logo me-3">
          <h3>Cambiar Contraseña</h3>
        </div>


        <div class="card-body">
          <form action="/recoverPassword/{{username}}/randomToken?token={{token}}", method="POST">
            <div class="form-group mb-3">
              <input type="password" class="form-control" name="password" id="password" placeholder="Nueva contraseña" required>
            </div>
            <div class="form-group mb-3">
              <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" placeholder="Confirme contraseña" required>
            </div>
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <button type="submit" onclick="return validateForm()" class="btn btn-primary btn-block">Cambiar contraseña</button>
          </form>
        </div>


      </div>
    </div>
  </div>
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!--script src="../js/register.js"></script-->
<script>
    function validateForm(){
     var password = document.getElementById("password").value;
     var confirmPassword = document.getElementById("confirmPassword").value;

     if (password !== confirmPassword) {
         alert("Passwords do not match");
         return false;
     }
     return true;
    }
</script>

</body>
</html>
