<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS for styling and layout -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome for icons -->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/forms.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/create_event.css'>
    <link rel="icon" href="/img/logo.jpeg" type="image/png">
    <title>{{#event.id}}Editar Evento: {{event.name}}{{/event.id}}{{^event.id}}Crear Evento{{/event.id}}</title>
</head>

<body>
    <!-- Main container for the create event form -->
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Card element where the form is located -->
                <div class="card">
                    <!-- Header of the card with logo and title -->
                    <div class="card-header text-center d-flex flex-column align-items-center">
                        <img src="/img/logo.jpeg" alt="Logo" class="img-fluid small-logo">
                        <h1>{{#event.id}}Editar Evento: {{event.name}}{{/event.id}}{{^event.id}}Crear evento{{/event.id}}</h1>
                    </div>
                    <!-- Body of the card containing the form fields -->
                    <div class="card-body">
                        <form action="{{#event.id}}/event/edit/{{event.id}}{{/event.id}}{{^event.id}}/create_event{{/event.id}}" method="post" enctype="multipart/form-data">
                            <!-- name -->
                            <div class="form-group">
                                <label for="event-name">Introduce el nombre del evento</label>
                                <input name="name" type="text" class="form-control" id="event-name" placeholder="Nombre del Evento"
                                    value="{{#event.id}}{{event.name}}{{/event.id}}" required>
                            </div>
                            <!-- description -->
                            <div class="form-group">
                                <label for="event-description">Introduce la descripción del evento</label>
                                <textarea name="description" class="form-control" id="event-description"
                                    placeholder="Descripción del Evento" rows="3" required>{{#event.id}}{{event.description}}{{/event.id}}</textarea>
                            </div>
                            <!-- (max) capacity-->
                            <div class="form-group">
                                <label for="event-capacity">Introduce el aforo del evento</label>
                                <input name="capacity" type="number" class="form-control" id="event-capacity" placeholder="Aforo"
                                       min="1" value="{{#event.id}}{{event.maxCapacity}}{{/event.id}}" required>
                            </div>
                            <!-- price -->
                            <div class="form-group">
                                <label for="event-price">Introduce el precio de la entrada del evento</label>
                                <input name="price" type="number" class="form-control" id="event-price"
                                    placeholder="Precio de la entrada" value="{{#event.id}}{{event.price}}{{/event.id}}" min="0" required>
                            </div>
                            <!-- start and end dates -->
                            <div class="form-group">
                                <label for="event-start">Fecha y hora de inicio del evento</label>
                                <input name="startDate"type="datetime-local" class="form-control" id="event-start" value="{{#event.id}}{{event.startDate}}{{/event.id}}" required>
                            </div>
                            <div class="form-group">
                                <label for="event-end">Fecha y hora de fin del evento</label>
                                <input name="endDate" type="datetime-local" class="form-control" id="event-end" value="{{#event.id}}{{event.endDate}}{{/event.id}}" required>
                            </div>
                            <!-- category-->
                            <div class="form-group">
                                <label for="event-category">Introduce la categoria del evento</label>
                                <select class="form-control" id="event-category" name="category" required>
                                    <option value="">Selecciona una categoría</option>
                                    {{#categories}}
                                        <option value="{{id}}" {{id}}>{{name}}</option>
                                    {{/categories}}
                                </select>
                            </div>
                            <!-- photo-->
                            <div class="form-group">
                                <label for="event-photo">Introduce la foto del Evento</label>
                                <input name="photo" type="file" accept="image/png, image/jpeg" class="form-control-file" id="event-photo" value="{{#event.id}}{{/event.id}}" {{^event.id}}required{{/event.id}}>
                            </div>
                            <!-- address-->
                            <div class="form-group">
                                <label for="event-address">Introduce la direccion del evento</label>
                                <input name="location" type="text" class="form-control" id="event-address" placeholder="Dirección"
                                       value="{{#event.id}}{{event.location}}{{/event.id}}" required>
                            </div>
                            <!-- map -->
                            <div class="form-group">
                                <label for="event-map">Introduce el mapa del evento</label>
                                <input name="map" type="text" class="form-control" id="event-map" placeholder="Mapa"
                                       value="{{#event.id}}{{event.map}}{{/event.id}}" required>
                                <small id="mapHelp" class="form-text text-muted">
                                    Ve a Google Maps, busca tu ubicación, haz clic en "Compartir" y luego en "Insertar un mapa" para obtener el código HTML del mapa. Copia y pega ese código aquí.
                                </small>
                            </div>
                            <!--Extra info-->
                            <div class="form-group">
                                <label for="event-extras">Introduce información adicional sobre el evento</label>
                                <textarea name="additionalInfo" class="form-control" id="event-extras"
                                    placeholder="Informacion Extra del Evento" rows="3" required>{{#event.id}}{{event.additionalInfo}}{{/event.id}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">{{#event.id}}Actualizar Evento{{/event.id}}{{^event.id}}Crear Evento{{/event.id}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/validateEvent.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var selectedCategoryId = "{{#event.id}}{{event.category.id}}{{/event.id}}";

            if(selectedCategoryId) {
                var selectElement = document.getElementById('event-category');
                selectElement.value = selectedCategoryId;
            }

        });
    </script>

</body>

</html>