<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel='stylesheet' type='text/css' media='screen' href='/css/forms.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='/css/error.css'>
  <link rel="icon" href="/img/logo.jpeg" type="image/png">
  <title>Login</title>
  <script src="register.js"></script>

</head>
<body>
<div class="error-container">

  <h1 class = "m">Se le ha enviado un email para su cambio de contraseña</h1>
  <p>El email contiene un link de un solo uso que le permitirá cambiar su contraseña</p>
  <p>Tenga en cuenta que el link sólo dura 10 minutos.</p>
  <a href="/login" class="btn">Volver a login</a>

</div>

<!-- Bootstrap JS (opcional, solo si necesitas funcionalidad JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
