<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{event.name}} - Event Crafters</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/event_info.css'>
    <link rel="icon" href="../img/logo.jpeg" type="image/png">
</head>

<body>
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="../img/logo.jpeg" width="30" height="30" class="d-inline-block align-top"
             alt="Imagen Logo Events Crafters"> Event Crafters
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggled"
            aria-controls="navbarToggled" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggled">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            {{#logged}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        🧒 <!-- User emoji -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfilDropdown">
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <form action="/logout" method="post">
                            <input type="hidden" name="_method" value="POST">
                            <button type="submit" name="logout" class="dropdown-item">Cerrar Sesión</button>
                        </form>
                    </div>
                </li>
            {{/logged}}
            {{^logged}}
                <li class="nav-item dropdown">
                    <form action="/register" method="get" class="form-inline my-2 my-lg-0 mr-2">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrarse</button>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <form action="/login" method="get" class="form-inline my-2 my-lg-0">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesión</button>
                    </form>
                </li>
            {{/logged}}
        </ul>
    </div>
</nav>

<div class="container mt-3">
    <div class="profile-container">
        <h2 class="event-title">{{event.name}}</h2>
        <img src="/event/image/{{event.id}}" class="d-block w-100" id="event-photo" alt="imagen {{event.name}}"><br>
        <div class="categories-container info d-flex justify-content-between">
                <span class="event-category"
                      style="background-color: {{event.category.color}};">{{event.category.name}}</span>
            <span class="event-capacity etiqueta-aforoMucho">Aforo:
                {{numRegisteredUsers}}/{{event.maxCapacity}}</span>
        </div>

        <!--Info secction-->
        <div class="user-events">
            <h3 class="next">Información</h3>
            <p><strong>Descripción: </strong> {{event.description}}</p>
            <div class="row flex-wrap p-3">
                <div>
                    <p><strong>Aforo máximo: </strong> {{event.maxCapacity}} personas</p>
                    <p><strong>Lugar: </strong> <a href="#map">Ver mapa</a></p>
                    <p><strong>Precio: </strong> {{priceDisplay}}</p>
                    <p><strong>Fecha de inicio: </strong> {{startDateFormatted}}</p>
                    <p><strong>Fecha de fin: </strong> {{endDateFormatted}}</p>
                    <p><strong>Duración: </strong> {{duration}}</p>
                    <p><strong>Información adicional: </strong> {{event.additionalInfo}}</p>
                </div>
            </div>
        </div>

        <div class="user-events actions-section mt-4">
            <h3 class="next">Acciones</h3>
            <div class="d-flex justify-content-center flex-wrap">
                {{#isUserCreatorOrAdmin}}
                    <div class="m-2">
                        <form action="/event/delete/{{event.id}}" method="post">
                            <button type="submit" class="btn btn-danger">Borrar Evento</button>
                        </form>
                    </div>
                    <div class="m-2">
                        <a href="/event/edit/{{event.id}}" class="btn btn-info">Editar Evento</a>
                    </div>
                {{/isUserCreatorOrAdmin}}

                {{#logged}}
                    {{#isUserRegistered}}
                        <div class="m-2">
                            <form action="/event/leave/{{event.id}}" method="post">
                                <button type="submit" class="btn btn-warning">Desapuntarte de {{event.name}}</button>
                            </form>
                            <br>
                            <form action="/ticket/{{event.id}}" method="get">
                                <button type="submit" class="btn btn-primary">Ver entrada a {{event.name}}</button>
                            </form>
                        </div>
                    {{/isUserRegistered}}
                    {{^isUserCreatorOrAdmin}}
                        {{^isUserRegistered}}
                            <div class="m-2">
                                <form action="/event/register/{{event.id}}" method="post">
                                    <button type="submit" class="btn btn-primary">Apuntarte a {{event.name}}</button>
                                </form>
                            </div>
                        {{/isUserRegistered}}
                    {{/isUserCreatorOrAdmin}}
                {{/logged}}

                {{^logged}}
                    <div class="m-2">
                        <p>Para registrarte en el evento, por favor<a href="/login" class="btn btn-link">inicia sesión</a>.</p>
                    </div>
                {{/logged}}
            </div>
        </div>


        <!--Sección Disponibilidad
        <div class="user-events">
            <h3 class="next">Disponibilidad</h3>
            <p>No quedan muchas plazas libres. Reserva ahora. </p>
            <div class="row flex-wrap p-4">
                <div class="row">
                    <div class="mx-50">
                        <img class="w-100" src="../img/entradasPorTiempo.png" alt="Foto de Perfil">
                    </div>
                    <div class="w-100">
                        <h4 class="fs-5 mt-4 pb-1">Reservar ahora</h4>
                        <section class="border-top border-bottom"></section>
                        <section class="text-dark w-100 p-1">
                            <div class="categories-container justify-content-between w-100 align-items-center p-1">
                                <h6 class="pt-1">Entrada regular ({{priceDisplay}})</h6>
                                <button class="btn btn-primary px-2">Reservar</button>
                            </div>
                        </section>
                        <section class="border-top border-bottom"></section>
                    </div>

                </div>
            </div>
            -->
        <!--Location section-->
        <div class="user-events" id="map">
            <h3 class="created">Localización</h3>
            Este evento tiene lugar en: {{event.location}}.<br><br>
            <div class="container map-container">
                <div class="row flex-wrap">
                    <div class="map">
                        {{{event.map}}}
                    </div>
                </div>
            </div>


            <!--Creator secction-->
            <div class="user-events">
                <h3 class="next">Anfitrión</h3>
                <div class="row flex-wrap p-5">
                    <div class="row">
                        <div class="mx-auto">
                            <img class="profile-photo" src="../img/fotoPerfil.jpg" alt="Foto de Perfil">
                        </div>
                        <div>
                            <h4 class="fs-5 mt-4 px-4 pb-1">{{event.creator.name}} (registrado como
                                {{event.creator.username}})</h4>
                            <p class="px-4">Soy {{event.creator.name}}, tu organizador de confianza. Escribeme a mi
                                correo {{event.creator.email}}</p>
                        </div>

                    </div>
                </div>
            </div>


            <div class="user-events">
                <h3 class="next">Eventos a los que me he apuntado
                </h3>
                <div class="row flex-wrap">
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info">
                                <span class="event-category etiqueta-deporte">Deporte</span>
                            </div>
                            <h5 class="info">Partido voley-playa</h5>
                            <button class="btn btn-block">Ver Detalles</button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container">
                                <span class="event-category etiqueta-educacion">Educación</span>
                            </div>
                            <h5 class="info">Cibernet: delincuentes en las redes</h5>
                            <button class="btn btn-block">Ver Detalles</button>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info">
                                <span class="event-category etiqueta-campo">Campo</span>
                            </div>
                            <h5 class="info">Ruta de las flores</h5>
                            <button class="btn btn-block">Ver Detalles</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center mt-4">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <button class="btn btn-primary">Cargar más eventos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Scripts de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>