<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Crafters - Inicio</title>
    <!-- Links to Bootstrap stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <link rel="icon" href="../img/logo.jpeg" type="image/png">
</head>
<body>

{{>header}}

<!-- Main content -->
<div class="container mt-4">
    <h2 class="event-name">Próximos Eventos</h2>
    <!-- Activities -->
    <div class="row" id="eventsChart">
        {{#events}}
            <div class="col-md-4">
                <div class="activity">
                    <img src="/event/image/{{id}}" alt="imagen actividad" class="img-fluid">
                    <h5>{{name}}</h5>
                    <div class="categories-container">
                        <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                        <span class="event-capacity etiqueta-aforoMucho">Aforo: {{numRegisteredUsers}}/{{maxCapacity}}</span>
                    </div>
                    <div class="mt-1">
                        <span class="icoest1">&#128205; {{location}}</span>
                    </div>
                    <div class="mx-3 my-2">
                        <p class="description">{{description}}</p>
                        <p class="date"><strong>Fecha: </strong>{{startDate}}</p>
                    </div>
                    <form action="/event/{{id}}" method="GET">
                        <button class="btn btn-primary" type="submit">Ver Detalles</button>
                    </form>
                </div>
            </div>
        {{/events}}
    </div>
    {{^events}}
        <div class="text-center">
            <h5 class="no-events-message">No hay eventos.</h5>
        </div>
    {{/events}}
    <div class="text-center" id="spinner" style="display: none">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="container text-center mt-4" {{#moreEvents}}style="display: none"{{/moreEvents}} id="home-load-more-btn-div">
    <div class="row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-primary" data-type="{{i}}" data-nextPage="1" id="home-load-more-btn">Cargar más eventos</button>
        </div>
    </div>
</div>
<div></div>
<!-- Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/events.js"></script> <!--JS file link-->
<script src="../js/index.js"></script>

</body>
</html>