<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Crafters - Inicio</title>

    <!-- Enlace a la hoja de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/home.css'>
    <link rel="icon" href="../img/logo.jpeg" type="image/png">    
</head>

<body>

    <!-- Barra de navegación -->
   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">
            <img src="../img/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="Imagen Logo Events Crafters"> Event Crafters
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggled" aria-controls="navbarToggled" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarToggled">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        🧒 <!-- Emoji de usuario -->
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfilDropdown">
                        <a class="dropdown-item" href="#">Mis eventos</a>
                        <a class="dropdown-item" href="#">Próximos eventos</a>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerrar Sesión</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filtrar Eventos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Campo</a>
                        <a class="dropdown-item" href="#">Deporte</a>
                        <a class="dropdown-item" href="#">Educación</a>
                        <!-- Más opciones de filtro según sea necesario -->
                    </div>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar eventos" aria-label="Buscar">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    

    <!-- Contenido principal -->
    <div class="container mt-4">
        <h2 class="titulo-eventos">Próximos Eventos</h2>

        <!-- Actividades -->
        <div class="row">
            <div class="col-md-4">
                <div class="actividad">
                    <img src="../img/campo.jpg" alt="Actividad 1" class="img-fluid">
                    <h5>Paseo por el campo</h5>
                    <div class="etiquetas-container">
                        <span class="etiqueta-evento etiqueta-campo">Campo</span>
                        <span class="aforo-evento etiqueta-aforoMucho">Aforo: 24/100</span>
                    </div>
                    <span class="icoest1">&#128205; Fuenlabrada. Parque Polvoranca</span>
                    <p class="descripcion">Paseo por el campo con bici o andando</p>
                    <p> </p>
                    <p class="fecha"><strong>Fecha: </strong>3/04/2025</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="actividad">
                    <img src="../img/juegosMesa.png" alt="Actividad 2" class="img-fluid">
                    <h5>¡Juegos de mesa!</h5>
                    <div class="etiquetas-container">
                        <span class="etiqueta-evento etiqueta-deporte">Deporte</span>
                        <span class="aforo-evento etiqueta-aforoLimitado">Aforo: 98/100</span>
                    </div>
                    <span class="icoest1">&#128205; Móstoles. Tienda X-GAME</span>
                    <p class="descripcion">¡Tarde de torneos de juegos de mesa! Los ganadores se llevarán
                        <strong>50€</strong></p>
                        <p> </p>
                        <p class="fecha"><strong>Fecha: </strong>20/04/2025</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="actividad">
                    <img src="../img/conferencia.jpg" alt="Actividad 3" class="img-fluid">
                    <h5>Conferencia sobre usabilidad</h5>
                    <div class="etiquetas-container">
                        <span class="etiqueta-evento etiqueta-conferencia">Educación</span>
                        <span class="aforo-evento etiqueta-aforoCompleto">Aforo: 100/100</span>
                    </div>
                     <span class="icoest1">&#128205;Móstoles. Campus URJC</span>
                     <p class="descripcion">Dada por la gran MariCris, charla de usabilidad en las apps</p>
                     <p> </p>
                     <p class="fecha"><strong>Fecha: </strong>7/04/2025</p>
                    
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
          <!--agregar actividades-->
        </div>
    </div>	
    <div class="container text-center mt-4">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button class="btn btn-primary">Cargar más eventos</button>
            </div>
        </div>
    </div>
    <div class="mb-4"></div>

</div>
    

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
