<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel='stylesheet' type='text/css' media='screen' href='../css/forms.css'>
  <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
  <link rel="icon" href="../img/logo.jpeg" type="image/png">
  <title>Login</title>

</head>
<body>

<h1>Login Error!!!</h1>
</body>
</html>
