{{#additionalEvents}}
    <div class="col-md-4">
        <div class="activity">
            <img src="/event/image/{{id}}" alt="imagen actividad" class="img-fluid">
            <h5>{{name}}</h5>
            <div class="categories-container">
                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                <span class="event-capacity etiqueta-aforoMucho">Aforo: {{numRegisteredUsers}}/{{maxCapacity}}</span>
            </div>
            <div class="mt-1">
                <span class="icoest1">&#128205; {{location}}</span>
            </div>
            <div class="mx-3 my-2">
                <p class="description">{{description}}</p>
                <p class="date"><strong>Fecha: </strong>{{startDate}}</p>
            </div>
            <form action="/event/{{id}}" method="GET">
                <button class="btn btn-primary" type="submit">Ver Detalles</button>
            </form>
        </div>
    </div>
{{/additionalEvents}}
{{#lastEvents}}
    <div class="no-events-message" style="display: none"></div>
{{/lastEvents}}
{{^additionalEvents}}
    <h5 class="no-events-message">No hay eventos disponibles</h5>
{{/additionalEvents}}