{{#additionalEvents}}
    <div class="col-md-4 mb-4">
        <div class="activity d-flex flex-row align-items-center">
            <div class="categories-container info">
                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
            </div>
            <h5 class="info">{{event.name}}</h5>
            <form action="/event/{{id}}" method="GET">
                <button class="btn btn-block" type="submit">Ver Detalles</button>
            </form>
        </div>
    </div>
{{/additionalEvents}}
{{#lastEvents}}
    <div class="no-events-message" style="display: none"></div>
{{/lastEvents}}
{{^additionalEvents}}
    <h5 class="no-events-message">No hay eventos disponibles</h5>
{{/additionalEvents}}