<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Crafters - Perfil</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/profile.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="icon" href="/img/logo.jpeg" type="image/png">
    <!-- Links to Bootstrap's stylesheet for styling and layout -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--library for chart creation-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Logo and text as part of the navigation -->
    <a class="navbar-brand" href="/">
        <img src="/img/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="Imagen Logo Events Crafters"> Event Crafters
    </a>
    <!-- Hamburger icon for mobile menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fas fa-home"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    🧒 <!-- Emoji de usuario -->
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfilDropdown">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_method" value="POST">
                        <button type="submit" name="logout"  class="dropdown-item">Cerrar Sesión</button>
                    </form>
                </div>
            </li>


        </ul>
    </div>
</nav>

<!-- Popup for tag creation/editing -->
{{#adminOnly}}
<div class="window-background" id="window-background">
    <div class="window-container" id="window-container">
        <!-- Close button for the popup -->
        <a class="close-button" id="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-x">
                <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                </path>
            </svg>
        </a>
        <a class="close-button delete-button" id="delete-tag-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="icon-x">
                <path
                        d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">

                </path>
            </svg>
        </a>
        <!-- Form for creating/editing tags -->
        <form action="/newCategory" method="post" enctype="multipart/form-data" id="tag-pop-up">
            <div class="form-group" id="first-part-tag-form">
                <label for="tag-name-in">Nombre del tag</label>
                <input type="text" class="form-control" id="tag-name-in" name="name" placeholder="Nombre del tag">
            </div>
            <div class="form-group">
                <label for="tag-color-in">Color del tag</label>
                <input type="color" class="form-control" id="tag-color-in" name="color" placeholder="Color del tag">
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="btn-safe-tags">Guardar</button>
        </form>
    </div>
</div>
{{/adminOnly}}

<!-- Main content area -->
<div class="container mt-4" id="main-container-profile">

    <!-- Profile section -->
    <div class="profile-container">
        <h2 class="event-title">Mi Perfil</h2>
        <div class="row">
            <!-- Profile picture -->
            <div class="col-md-4">
                <img class="profile-photo" src="/profile/img/{{user.username}}" alt="Foto de Perfil">
            </div>
            <!-- User information -->
            <div class="col-md-8">
                <div class="user-data">
                    <p><strong>Nombre:</strong> {{user.name}}</p>
                    <p><strong>Correo:</strong> {{user.email}}</p>
                    <p><strong>Nick:</strong> {{user.username}}</p>

                </div>
            </div>
            <!-- Buttons for account management -->
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col col-lg-2 container-delete-account">
                        <label for="pfp" class="custom-file-upload" >
                            <i class="fas fa-camera"></i>
                        </label>

                        <input type="file" accept="image/png, image/jpeg, image/jpg" id="pfp" onchange="sendProfileImage()" class="btn btn-primary" placeholder="Editar foto de perfil">
                    </div>
                    <div class="col text-center btn-edit-account {{showWhenUser}}">
                        <button id="edit-profile-btn" class="btn btn-primary" >Editar Perfil</button>

                        <!-- Hidden div for the pop-up -->
                        <div id="edit-profile-popup" style="display: none;">
                            <form id="edit-profile-form" action="/updateProfile" method="post">
                                <div class="form-group">
                                    <label for="edit-name">Nombre:</label>
                                    <input type="text" class="form-control" id="edit-name" name="name" value="{{user.name}}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-email">Correo:</label>
                                    <input type="email" class="form-control" id="edit-email" name="email" value="{{user.email}}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-username">Nick:</label>
                                    <input type="text" class="form-control" id="edit-username" name="username" value="{{user.username}}">
                                </div>
                                <button type="submit" onclick ="return warn()" class="btn btn-primary" >Guardar Cambios</button>
                                <button type="submit" onclick ="return cancel()" class="btn btn-danger" >Cancelar</button>
                            </form>
                        </div>
                    </div>

                    <div class="col text-center profile {{showWhenAdmin}}">
                        <button id="ban-user-btn" class="btn btn-warning"><i class="fas fa-user-slash"></i>Banear</button>

                        <!-- Hidden div for the ban pop-up -->
                        <div id="ban-user-popup" style="display: none;">
                            <form id="ban-user-form" action="/ban" method="post">
                                <div class="form-group">
                                    <label for="username">Nombre de Usuario:</label>
                                    <input type="text" class="form-control" id="usernameBan" name="usernameBan" required>
                                </div>
                                <button type="submit" onclick ="return warnBan()" class="btn btn-primary"><i class="fas fa-user-slash"></i>Banear Usuario</button>
                            </form>
                        </div>
                    </div>
                    <div class="col text-right profile {{showWhenAdmin}}">
                        <button id="unban-user-btn" class="btn btn-success"><i class="fas fa-user"></i>Desbanear</button>

                        <!-- Hidden div for the unban pop-up -->
                        <div id="unban-user-popup" style="display: none;">
                            <form id="unban-user-form" action="/unban" method="post">
                                <div class="form-group">
                                    <label for="username">Nombre de Usuario:</label>
                                    <input type="text" class="form-control" id="usernameUnBan" name="usernameUnBan" required>
                                </div>
                                <button type="submit" onclick="return warnUnBan()" class="btn btn-primary"><i class="fas fa-user"></i>
                                    Desbanear Usuario</button>
                            </form>
                        </div>
                    </div>
                    <!-- Option visible only for regular users (to delete account) -->
                    <div class="col-lg-2 {{showWhenUser}}">
                        <form action="delete-account" method="post">
                            <button type="submit" onclick="return warnDelete()" class="btn btn-danger">Eliminar Cuenta</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {{#adminOnly}}
        <!-- Tags section -->
        <div class="user-events {{showWhenAdmin}}">
            <h3 class="created">Tags</h3>
            <div class="row flex-wrap" id="categories-container">
                {{#category}}
                    <div class="col-md-4 mb-4 categories">
                        <div class="activity d-flex flex-row align-items-center" name="tag" id="{{id}}">
                            <div class="categories-container info admin-category-container">
                                <span class="event-category admin-category" style="background-color:{{color}}" name="tag-name">{{name}}</span>
                            </div>
                            <button class="btn btn-block" id="open-button">Ver Detalles</button>
                        </div>
                    </div>
                {{/category}}

                <div class="col-md-4 mb-4 last">
                    <div class="activity d-flex flex-row align-items-center" style="justify-content: center" id="open-button">
                        <div class="categories-container info" id="open-button">
                            <span class="event-category category-add admin-category" id="open-button">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" id="spinner-profile-tags" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div class="container text-center mt-4 {{showWhenAdmin}}"  style="{{#thereAreNoMore0}}display:none{{/thereAreNoMore0}}"  id="more-tags-btn-div">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-tags" data-nextPage="2">Cargar más tags</button>
                </div>
            </div>
        </div>
        {{/adminOnly}}
        <!-- User-created events section -->
        <div class="user-events">
            <h3 class="created">{{eventsText}}</h3>
            <div class="row flex-wrap" id="created-events-container">

                {{#events}}
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info event-container-tag-div">
                                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                            </div>
                            <h5 class="info event-container-text">{{name}}</h5>
                            <form action="/event/{{id}}" method="GET">
                                <button class="btn btn-primary" type="submit">Ver Detalles</button>
                            </form>
                        </div>
                    </div>
                {{/events}}


                <div class="col-md-4 mb-4 last {{showWhenUser}}">
                    <form action="/create_event" method="get">
                        <div class="activity d-flex flex-row align-items-center" style="justify-content: center" id="open-button">
                            <div class="categories-container info">
                                <button type="submit" style="background: none; border: none; padding: 0; margin: 0;">
                                    <span class="event-category category-add admin-category">+</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center" id="spinner-profile-created-events" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {{^events}}
            <div class="{{showWhenAdmin}} text-center">
                <h5 class="no-events-message">No hay eventos.</h5>
            </div>
        {{/events}}
        <div class="container text-center mt-4" id="more-events-btn-div-1" style="{{#thereAreNoMore1}}display:none{{/thereAreNoMore1}}">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-created-events" data-i="{{createdEvents}}" data-nextPage="1">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!--Charts-->
        {{#adminOnly}}
        <div class="Charts {{showWhenAdmin}}">
            <h3 class="created">Gráficas</h3>
            <div id="charts-container" >

                <div class="text-center" id="spinner-charts" style="display: none">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
        {{/adminOnly}}
        <!-- User-created events that have already ended section -->
        <div class="user-events {{showWhenUser}}">
            <h3 class="next">Eventos pasados que he creado </h3>
            <div class="row flex-wrap" id="past-created-events-container">
                {{#pastEvents}}
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info event-container-tag-div">
                                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                            </div>
                            <h5 class="info event-container-text">{{name}}</h5>
                            <form action="/event/{{id}}" method="GET">
                                <button class="btn btn-primary" type="submit">Ver Detalles</button>
                            </form>
                        </div>
                    </div>
                {{/pastEvents}}
            </div>
            <div class="text-center" id="spinner-profile-past-created-events" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {{^pastEvents}}
            <div class="{{showWhenUser}} text-center">
                <h5 class="no-events-message">No hay eventos.</h5>
            </div>
        {{/pastEvents}}
        <div class="container text-center mt-4 {{showWhenUser}}" style="{{#thereAreNoMore2}}display:none{{/thereAreNoMore2}}" id="more-events-btn-div-2">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-past-created-events" data-i="2" data-nextPage="1">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!-- Events user has signed up for -->
        <div class="user-events {{showWhenUser}}">
            <h3 class="next">Eventos a los que me he apuntado</h3>
            <div class="row flex-wrap" id="registered-events-container">
                {{#registeredCurrentEvents}}
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info event-container-tag-div">
                                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                            </div>
                            <h5 class="info event-container-text">{{name}}</h5>
                            <form action="/event/{{id}}" method="GET">
                                <button class="btn btn-primary" type="submit">Ver Detalles</button>
                            </form>
                        </div>
                    </div>
                {{/registeredCurrentEvents}}
            </div>
            <div class="text-center" id="spinner-profile-registered-events" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {{^registeredCurrentEvents}}
            <div class="{{showWhenUser}} text-center">
                <h5 class="no-events-message">No hay eventos.</h5>
            </div>
        {{/registeredCurrentEvents}}
        <div class="container text-center mt-4 {{showWhenUser}}" style="{{#thereAreNoMore3}}display:none{{/thereAreNoMore3}}" id="more-events-btn-div-3">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-registered-events" data-i="3" data-nextPage="1">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!-- Past events user has signed up for -->
        <div class="user-events {{showWhenUser}}">
            <h3 class="next">Eventos pasados a los que me he apuntado</h3>
            <div class="row flex-wrap" id="past-registered-events-container">
                {{#registeredPastEvents}}
                    <div class="col-md-4 mb-4">
                        <div class="activity d-flex flex-row align-items-center">
                            <div class="categories-container info event-container-tag-div">
                                <span class="event-category" style="background-color: {{category.color}};">{{category.name}}</span>
                            </div>
                            <h5 class="info event-container-text">{{name}}</h5>
                            <form action="/event/{{id}}" method="GET">
                                <button class="btn btn-primary" type="submit">Ver Detalles</button>
                            </form>
                        </div>
                    </div>
                {{/registeredPastEvents}}
            </div>
            <div class="text-center" id="spinner-profile-registered-past-events" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {{^registeredPastEvents}}
            <div class="{{showWhenUser}} text-center">
                <h5 class="no-events-message">No hay eventos.</h5>
            </div>
        {{/registeredPastEvents}}
        <div class="container text-center mt-4 {{showWhenUser}}" style="{{#thereAreNoMore4}}display:none{{/thereAreNoMore4}}" id="more-events-btn-div-4">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-registered-past-events" data-i="4" data-nextPage="1">Cargar más eventos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap's JavaScript files for interactivity -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Custom JavaScript file -->
<script src="../js/profile.js"></script>
{{#adminOnly}}
<script src="../js/categories.js"></script>
<script src="../js/charts.js"></script>
{{/adminOnly}}
<script src="../js/editProfile.js"></script>


</body>

</html>