<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Event Crafters - Perfil</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/profile.css'>
    <link rel="icon" href="../img/logo.jpeg" type="image/png">
    <!-- Links to Bootstrap's stylesheet for styling and layout -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Logo and text as part of the navigation -->
    <a class="navbar-brand" href="/">
        <img src="../img/logo.jpeg" width="30" height="30" class="d-inline-block align-top" alt="Imagen Logo Events Crafters"> Event Crafters
    </a>
    <!-- Hamburger icon for mobile menu -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navigation links -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    🧒 <!-- Emoji de usuario -->
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="perfilDropdown">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_method" value="POST">
                        <button type="submit" name="logout"  class="dropdown-item">Cerrar Sesión</button>
                    </form>
                </div>
            </li>


        </ul>
    </div>
</nav>

<!-- Popup for tag creation/editing -->
<div class="window-background" id="window-background">
    <div class="window-container" id="window-container">
        <!-- Close button for the popup -->
        <a class="close-button" id="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon-x">
                <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                </path>
            </svg>
        </a>
        <a class="close-button delete-button" id="delete-tag-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="icon-x">
                <path
                        d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z">

                </path>
            </svg>
        </a>
        <!-- Form for creating/editing tags -->
        <form action="/newCategory" method="post" enctype="multipart/form-data" id="tag-pop-up">
            <div class="form-group" id="first-part-tag-form">
                <label for="tag-name-in">Nombre del tag</label>
                <input type="text" class="form-control" id="tag-name-in" name="name" placeholder="Nombre del tag">
            </div>
            <div class="form-group">
                <label for="tag-color-in">Color del tag</label>
                <input type="color" class="form-control" id="tag-color-in" name="color" placeholder="Color del tag">
            </div>

            <button type="submit" class="btn btn-primary btn-block" name="btn-safe-tags">Guardar</button>
        </form>
    </div>
</div>

<!-- Main content area -->
<div class="container mt-4" id="main-container-profile">

    <!-- Profile section -->
    <div class="profile-container">
        <h2 class="event-title">Mi Perfil</h2>
        <div class="row">
            <!-- Profile picture -->
            <div class="col-md-4">
                <img class="profile-photo" src="../img/fotoPerfil.jpg" alt="Foto de Perfil">
            </div>
            <!-- User information -->
            <div class="col-md-8">
                <div class="user-data">
                    <p><strong>Nombre:</strong> {{user.name}}</p>
                    <p><strong>Correo:</strong> {{user.email}}</p>
                    <p><strong>Nick:</strong> {{user.username}}</p>
                </div>
            </div>
            <!-- Buttons for account management -->
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col col-lg-2 container-delete-account">
                        <input type="file" accept="image/png, image/jpeg" id="pfp" onchange="sendProfileImage()" class="btn btn-primary" placeholder="Editar foto de perfil"></input>
                        <form action="delete-account" method="post">
                            <button type="submit" class="btn btn-danger">Eliminar Cuenta</button>
                        </form>
                    </div>
                    <div class="col text-center btn-edit-account">
                        <button id="edit-profile-btn" class="btn btn-primary" >Editar Perfil</button>

                        <!-- Hidden div for the pop-up -->
                        <div id="edit-profile-popup" style="display: none;">
                            <form id="edit-profile-form" action="/updateProfile" method="post">
                                <div class="form-group">
                                    <label for="edit-name">Nombre:</label>
                                    <input type="text" class="form-control" id="edit-name" name="name" value="{{user.name}}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-email">Correo:</label>
                                    <input type="email" class="form-control" id="edit-email" name="email" value="{{user.email}}">
                                </div>
                                <div class="form-group">
                                    <label for="edit-username">Nick:</label>
                                    <input type="text" class="form-control" id="edit-username" name="username" value="{{user.username}}">
                                </div>
                                <button type="submit" onclick ="return warn()" class="btn btn-primary" >Guardar Cambios</button>
                                <button type="submit" onclick ="return cancel()" class="btn btn-danger" >Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tags section -->
        <div class="user-events"  style="display:{{showWhenAdmin}}">
            <h3 class="created">Tags</h3>
            <div class="row flex-wrap" id="categories-container">
                {{#category}}
                    <div class="col-md-4 mb-4 categories">
                        <div class="activity d-flex flex-row align-items-center" name="tag" id="{{id}}">
                            <div class="categories-container info admin-category-container">
                                <span class="event-category admin-category" style="background-color:{{color}}" name="tag-name">{{name}}</span>
                            </div>
                            <button class="btn btn-block" id="open-button">Ver Detalles</button>
                        </div>
                    </div>
                {{/category}}

                <div class="col-md-4 mb-4 last">
                    <div class="activity d-flex flex-row align-items-center" style="justify-content: center" id="open-button">
                        <div class="categories-container info" id="open-button">
                            <span class="event-category category-add admin-category" id="open-button">+</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" id="spinner-profile" style="display: none">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div class="container text-center mt-4" style="display: {{showWhenAdmin}}" id="more-tags-btn-div">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary" id="load-more-tags">Cargar más tags</button>
                </div>
            </div>
        </div>
        <!-- User-created events section -->
        <div class="user-events">
            <h3 class="created">Mis Eventos Creados</h3>
            <div class="row flex-wrap">
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-campo">Campo</span>
                        </div>
                        <h5 class="info event-container-text">Excursión al Valle del Jerte</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-deporte">Deporte</span>
                        </div>
                        <h5 class="info event-container-text">Competición de batminton</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-educacion">Educación</span>
                        </div>
                        <h5 class="info event-container-text">JobDays ETSII</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info  event-container-tag-div">
                            <span class="event-category etiqueta-deporte">Deporte</span>
                        </div>
                        <h5 class="info event-container-text">Competición de batminton</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4 last">
                    <form action="/create_event" method="get">
                        <div class="activity d-flex flex-row align-items-center" style="justify-content: center" id="open-button">
                            <div class="categories-container info">
                                <button type="submit" style="background: none; border: none; padding: 0; margin: 0;">
                                    <span class="event-category category-add admin-category">+</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container text-center mt-4">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!-- User-created events that have already ended section -->
        <div class="user-events">
            <h3 class="next">Eventos pasados que he creado </h3>
            <div class="row flex-wrap">
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info  event-container-tag-div">
                            <span class="event-category etiqueta-pasado">Pasado</span>
                        </div>
                        <h5 class="info event-container-text">Competición de judo</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container  event-container-tag-div">
                            <span class="event-category etiqueta-pasado">Pasado</span>
                        </div>
                        <h5 class="info event-container-text">Huertos urbanos</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-4">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!-- Events user has signed up for -->
        <div class="user-events">
            <h3 class="next">Eventos a los que me he apuntado
            </h3>
            <div class="row flex-wrap">
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-deporte">Deporte</span>
                        </div>
                        <h5 class="info event-container-text">Partido voley-playa</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container event-container-tag-div">
                            <span class="event-category etiqueta-educacion">Educación</span>
                        </div>
                        <h5 class="info event-container-text">Cibernet: delincuentes en las redes</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-campo">Campo</span>
                        </div>
                        <h5 class="info event-container-text">Ruta de las flores</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-4">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">Cargar más eventos</button>
                </div>
            </div>
        </div>
        <!-- Past events user has signed up for -->
        <div class="user-events">
            <h3 class="next">Eventos pasados a los que me he apuntado
            </h3>
            <div class="row flex-wrap">
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-pasado">Pasado</span>
                        </div>
                        <h5 class="info event-container-text">Extreme Programming</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container event-container-tag-div">
                            <span class="event-category etiqueta-pasado">Pasado</span>
                        </div>
                        <h5 class="info event-container-text">Escalada en MonteBlanco</h5>
                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="activity d-flex flex-row align-items-center">
                        <div class="categories-container info event-container-tag-div">
                            <span class="event-category etiqueta-pasado ">Pasado</span>
                        </div>
                        <h5 class="info event-container-text">Fotografía de paisajes</h5>

                        <button class="btn btn-block event-container-btn">Ver Detalles</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center mt-4">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <button class="btn btn-primary">Cargar más eventos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap's JavaScript files for interactivity -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Custom JavaScript file -->
<script src="../js/profile.js"></script>
<script src="../js/categories.js"></script>
<script src="../js/editProfile.js"></script>

</body>

</html>