<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/forms.css'>
    <link rel="stylesheet" type="text/css" href='../css/review.css'> 
    <link rel="icon" href="../img/logo.jpeg" type="image/png">
    <title>Reseña del Evento</title>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <img src="../img/logo.jpeg" alt="Logo" class="img-fluid small-logo">
                    <h2>Reseña del Evento</h2>
                </div>
                <div class="card-body">
                    <form name="reviewForm" action="/newReview" method="post">
                        <div class="form-group rating">
                            <label>Calificación del Evento</label>
                            <div id="rateYo"></div>
                        </div>
                        <!--Campo oculto para la calificacion de las estrellas-->
                        <input type="hidden" name="rating" id="rating">
                        <!--ahora el resto del form-->
                        <div class="form-group">
                            <label for="event-review">Reseña</label>
                            <textarea class="form-control" id="event-review" rows="5" name="text" placeholder="Escribe tu reseña aquí" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Enviar Reseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

<script>
    $(function () {
        $("#rateYo").rateYo({
            fullStar: true,
        });


    });
    $('form').submit(function (e) {
        let rating = $("#rateYo").rateYo("rating"); // Obtiene la calificación
        $('#rating').val(rating); // Actualiza el campo oculto con la calificación
    });
</script>

</body>
</html>
