body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  width: 100%;
}

.small-logo {
  max-width: 80px;
  max-height: 80px;
  margin-left: 60px;
  border-radius: 10px;
}

  
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
}