body {
    padding-top: 56px; /* Ajuste para la barra de navegación fija en la parte superior */
}

.nav-link {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    border-radius: 5xp;
    margin-right: 10px;
}

.nav-link:hover {
    background-color: rgb(154, 154, 154);
}

.logoText:hover {
    color: white !important; /* Forzar que el color sea blanco al pasar el ratón */
    background-color: transparent !important; /* Forzar que el fondo sea transparente al pasar el ratón */
    text-decoration: none; /* Evitar la subrayado en el hover */
}
.actividad {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    position: relative;
}

.actividad img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
}

.actividad h5 {
    padding: 10px;
    margin-bottom: 0;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el contenido que desborda el contenedor */
    text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
    max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
}

.etiquetas-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    background-color: #f2f1f3;
}

.etiqueta-evento {
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff; /* Agregado: color de texto */
}

.etiqueta-campo {
    background-color: #ffc107; /* Amarillo */
}

.etiqueta-deporte {
    background-color: #cc00ff; /* Morado */
}

.etiqueta-conferencia {
    background-color: #28a745; /* Verde */
}

.actividad .descripcion,
.actividad .localizacion {
    padding: 10px;
    margin-bottom: 2%;
    margin-top: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

}

.actividad .descripcion {
    margin-bottom: -30px; /* Espacio entre la descripción y el botón */
}

.actividad a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-top: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.actividad a:hover {
    background-color: #0056b3;
}

.logoText {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10px;
}

.titulo-eventos {
    text-align: center;
    background-color: #78d1ef; /* Color de fondo */
    color: #000000; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Bordes redondeados */
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 15%;
    margin-right:15%;
    font-size: 24px; /* Tamaño del texto */
    font-weight: bold; /* Negrita */
}

.cargar-eventos{
    text-align:center;
    margin-bottom: 5%;
    margin-top:5%;
    margin-left:43%;
    margin-right: 43%;
    background-color: #d8a6e5;
    border-radius: 10px;
}
